html
    {
        width:100%;
    }

body
    {
        background-image: url("../image/backgroud.jpg");
    }

.login
    {
        position:absolute;
        left:50%;
        top:38%;
        margin-left:-140px;
        margin-top:-40px;
        
        padding: 15px;
        width: 320px;
        height: 250px;

        border: solid #DCDCDC 1px;
        border-radius: 8px;
        font-family: Courier New;
        background-color: #FFFFFF;
    }

label
    {
           font-size: 15px;
    }

input
    {
        width: 280px;
        padding: 6px;
        border:1px solid #DCDCDC;
        border-radius:4px;
    }

input:focus
{
    border-color: #1E90FF;
}

#entrar
    {
        color: #FFFFFF;
        background-color: #437cbc;
        font-size: 15px;
    }

#entrar:hover
    {
        background-color: #346399;
    }